Entra/ApplicationSecretExpirationSolution/appreg2.html
Entra/ApplicationSecretExpirationSolution/css.css
Entra/ApplicationSecretExpirationSolution/classtest.ps1
Entra/ApplicationSecretExpirationSolution/typescripttest.js
Templates/TemplateSpecs/Example.ps1
Templates/Bicep/domainjoin/deploy.ps1
Templates/Bicep/domainjoin/dumb.json
Migration\Web\HelloWorldGAC\HelloWorldGAC\HelloWorldGAC\Bin
Migration\Web\HelloWorldGAC\HelloWorldGAC\packages
Migration\Web\HelloWorldGAC\HelloWorldLibrary\bin
Migration\Web\HelloWorldGAC\HelloWorldLibrary\obj
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/HelloWorldLibrary.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/HelloWorldLibrary.pdb
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/csc.exe
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/csc.exe.config
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/csc.exe.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/csc.rsp
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/csi.exe
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/csi.exe.config
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/csi.exe.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/csi.rsp
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.CodeAnalysis.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.CodeAnalysis.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.CSharp.Core.targets
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.Managed.Core.targets
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.VisualBasic.Core.targets
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.Win32.Primitives.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/Microsoft.Win32.Primitives.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.AppContext.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.AppContext.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Collections.Immutable.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Collections.Immutable.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Console.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Console.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Diagnostics.DiagnosticSource.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Diagnostics.DiagnosticSource.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Diagnostics.FileVersionInfo.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Diagnostics.FileVersionInfo.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Diagnostics.StackTrace.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Diagnostics.StackTrace.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Globalization.Calendars.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Globalization.Calendars.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.IO.Compression.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.IO.Compression.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.IO.Compression.ZipFile.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.IO.Compression.ZipFile.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.IO.FileSystem.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.IO.FileSystem.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.IO.FileSystem.Primitives.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.IO.FileSystem.Primitives.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Net.Http.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Net.Http.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Net.Sockets.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Net.Sockets.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Reflection.Metadata.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Reflection.Metadata.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Runtime.InteropServices.RuntimeInformation.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Runtime.InteropServices.RuntimeInformation.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Security.Cryptography.Algorithms.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Security.Cryptography.Algorithms.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Security.Cryptography.Encoding.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Security.Cryptography.Encoding.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Security.Cryptography.Primitives.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Security.Cryptography.Primitives.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Security.Cryptography.X509Certificates.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Security.Cryptography.X509Certificates.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Text.Encoding.CodePages.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Text.Encoding.CodePages.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Threading.Tasks.Extensions.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Threading.Tasks.Extensions.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.ValueTuple.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.ValueTuple.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Xml.ReaderWriter.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Xml.ReaderWriter.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Xml.XmlDocument.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Xml.XmlDocument.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Xml.XPath.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Xml.XPath.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Xml.XPath.XDocument.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/System.Xml.XPath.XDocument.dll.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/vbc.exe
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/vbc.exe.config
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/vbc.exe.refresh
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/vbc.rsp
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/VBCSCompiler.exe
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/VBCSCompiler.exe.config
Migration/Web/HelloWorldGAC/HelloWorldGAC/HelloWorldGAC/Bin/roslyn/VBCSCompiler.exe.refresh
Migration/Web/HelloWorldGAC/HelloWorldLibrary/bin/Debug/HelloWorldLibrary.dll
Migration/Web/HelloWorldGAC/HelloWorldLibrary/bin/Debug/HelloWorldLibrary.pdb
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/.signature.p7s
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1.nupkg
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net46/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net46/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/app.config.install.xdt
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/app.config.uninstall.xdt
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/web.config.install.xdt
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/web.config.uninstall.xdt
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/app.config.install.xdt
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/app.config.uninstall.xdt
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/web.config.install.xdt
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/web.config.uninstall.xdt
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.exe
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.exe.config
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.rsp
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csi.exe
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csi.rsp
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.Build.Tasks.CodeAnalysis.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.CSharp.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.CSharp.Scripting.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.Scripting.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.VisualBasic.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CSharp.Core.targets
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.DiaSymReader.Native.amd64.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.DiaSymReader.Native.x86.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.VisualBasic.Core.targets
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.AppContext.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Collections.Immutable.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Diagnostics.StackTrace.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.IO.FileSystem.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.IO.FileSystem.Primitives.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Reflection.Metadata.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.exe
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.exe.config
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.rsp
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/VBCSCompiler.exe
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/VBCSCompiler.exe.config
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.exe
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.exe.config
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.rsp
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.exe
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.exe.config
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.rsp
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Build.Tasks.CodeAnalysis.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.CSharp.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.CSharp.Scripting.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.Scripting.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.VisualBasic.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CSharp.Core.targets
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.DiaSymReader.Native.amd64.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.DiaSymReader.Native.x86.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Managed.Core.targets
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.VisualBasic.Core.targets
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Win32.Primitives.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.AppContext.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Collections.Immutable.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Console.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.DiagnosticSource.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.FileVersionInfo.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.StackTrace.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Globalization.Calendars.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.Compression.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.Compression.ZipFile.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.FileSystem.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.FileSystem.Primitives.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Net.Http.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Net.Sockets.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Reflection.Metadata.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Runtime.InteropServices.RuntimeInformation.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Algorithms.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Encoding.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Primitives.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.X509Certificates.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Text.Encoding.CodePages.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Threading.Tasks.Extensions.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.ValueTuple.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.ReaderWriter.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XmlDocument.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XPath.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XPath.XDocument.dll
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.exe
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.exe.config
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.rsp
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/VBCSCompiler.exe
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/VBCSCompiler.exe.config
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/net45/install.ps1
Migration/Web/HelloWorldGAC/HelloWorldGAC/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/net45/uninstall.ps1
Migration/Web/HelloWorldGAC/HelloWorldLibrary/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.cs
Migration/Web/HelloWorldGAC/HelloWorldLibrary/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Migration/Web/HelloWorldGAC/HelloWorldLibrary/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Migration/Web/HelloWorldGAC/HelloWorldLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Migration/Web/HelloWorldGAC/HelloWorldLibrary/obj/Debug/HelloWorldLibrary.csproj.AssemblyReference.cache
Migration/Web/HelloWorldGAC/HelloWorldLibrary/obj/Debug/HelloWorldLibrary.csproj.CoreCompileInputs.cache
Migration/Web/HelloWorldGAC/HelloWorldLibrary/obj/Debug/HelloWorldLibrary.csproj.FileListAbsolute.txt
Migration/Web/HelloWorldGAC/HelloWorldLibrary/obj/Debug/HelloWorldLibrary.dll
Migration/Web/HelloWorldGAC/HelloWorldLibrary/obj/Debug/HelloWorldLibrary.pdb
Migration/Web/HelloWorldGAC/HelloWorldLibrary/obj/Release/.NETFramework,Version=v4.6.2.AssemblyAttributes.cs
Migration/Web/HelloWorldGAC/HelloWorldLibrary/obj/Release/HelloWorldLibrary.csproj.AssemblyReference.cache
Migration/Web/HelloWorldGAC/HelloWorldGAC/.vs/HelloWorldGAC/CopilotIndices/17.14.1091.29919/CodeChunks.db
Migration/Web/HelloWorldGAC/HelloWorldGAC/.vs/HelloWorldGAC/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
Migration/Web/HelloWorldGAC/HelloWorldGAC/.vs/HelloWorldGAC/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
Migration/Web/HelloWorldGAC/HelloWorldGAC/.vs/HelloWorldGAC/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
Migration/Web/HelloWorldGAC/HelloWorldGAC/.vs/HelloWorldGAC/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
Migration/Web/HelloWorldGAC/HelloWorldGAC/.vs/HelloWorldGAC/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
Migration/Web/HelloWorldGAC/HelloWorldGAC/.vs/HelloWorldGAC/FileContentIndex/6b58c3e2-b980-4c07-b68c-8723d94ebec6.vsidx
Migration/Web/HelloWorldGAC/HelloWorldGAC/.vs/HelloWorldGAC/FileContentIndex/8abdcf29-1d5a-484f-8802-ba1d6fd07a69.vsidx
Migration/Web/HelloWorldGAC/HelloWorldGAC/.vs/HelloWorldGAC/FileContentIndex/31e2f643-4941-4251-bbce-bb32248d892c.vsidx
Migration/Web/HelloWorldGAC/HelloWorldGAC/.vs/HelloWorldGAC/FileContentIndex/168b6d18-6aa5-4a91-a527-03bd651bedbc.vsidx
Migration/Web/HelloWorldGAC/HelloWorldGAC/.vs/HelloWorldGAC/FileContentIndex/93065967-6ce2-4b62-bfb7-520939547c52.vsidx
Migration/Web/HelloWorldGAC/HelloWorldGAC/.vs/HelloWorldGAC/config/applicationhost.config
Migration/Web/HelloWorldGAC/HelloWorldGAC/.vs/HelloWorldGAC/v17/.suo
Migration/Web/HelloWorldGAC/HelloWorldGAC/.vs/HelloWorldGAC/v17/DocumentLayout.backup.json
Migration/Web/HelloWorldGAC/HelloWorldGAC/.vs/HelloWorldGAC/v17/DocumentLayout.json
