<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" executionTimeout="300" maxRequestLength="51200" />
    
    <!-- Session state configuration -->
    <sessionState mode="InProc" timeout="20" />
    
    <!-- Custom errors -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx" />
    
    <!-- Pages configuration -->
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
  </system.web>

  <system.webServer>
    <!-- Default document -->
    <defaultDocument>
      <files>
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    
    <!-- HTTP modules -->
    <modules runAllManagedModulesForAllRequests="true" />
    
    <!-- Handler mappings -->
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
  </system.webServer>

  <appSettings>
    <!-- Application specific settings -->
    <add key="MaxCPUUsagePercent" value="80" />
    <add key="CPULoadDurationMs" value="80" />
    <add key="CPULoadSleepMs" value="20" />
  </appSettings>

  <connectionStrings>
    <!-- Add connection strings here if needed -->
  </connectionStrings>
</configuration>